# Import the required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# Load the dataset

df = pd.read_csv('./Data/mly4935.csv', skiprows=19, skipinitialspace=True)
df.head(10)

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun
0,1996,8,13.4,20.4,7.3,16.6,10.3,109.4,5.3,8.3,34.0,NaN
1,1996,10,9.7,NaN,NaN,12.5,7.0,NaN,NaN,NaN,NaN,NaN
2,1996,11,5.0,NaN,NaN,7.6,2.5,NaN,NaN,NaN,NaN,NaN
3,1996,12,3.1,10.7,-4.0,5.2,1.1,NaN,-5.3,9.4,48.0,NaN
4,1997,1,3.4,10.7,-3.9,5.2,1.6,26.0,-5.2,8.0,40.0,42.1
5,1997,2,5.0,10.5,-0.5,8.0,1.9,189.6,-4.5,15.0,58.0,58.9
6,1997,3,6.9,12.6,-1.5,9.9,3.8,80.8,-4.2,11.3,58.0,91.7
7,1997,4,8.9,17.3,1.0,12.4,5.3,47.3,-1.9,7.8,40.0,117.3
8,1997,5,10.5,23.9,-0.7,14.7,6.4,83.1,-2.0,8.5,42.0,200.5
9,1997,6,11.6,19.1,4.0,14.9,8.4,98.0,3.1,9.9,42.0,137.6

In [9]:
# Check for correlation between mean temperature and the month of the year
corrTemp = df['month'].corr(df['meant'])
print(corrTemp)

0.2610020102262302

In [10]:
#Apparently very little correlation. However, we can see that the mean temperature columen is missing data.

# Check for missing data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    338 non-null    int64
 1   month   338 non-null    int64
 2   meant   338 non-null    float64
 3   maxtp   336 non-null    float64
 4   mintp   336 non-null    float64
 5   mnmax   338 non-null    float64
 6   mnmin   338 non-null    float64
 7   rain    335 non-null    float64
 8   gmin    336 non-null    float64
 9   wdsp    336 non-null    float64
 10  maxgt   333 non-null    float64
 11  sun     279 non-null    float64
dtypes: float64(10), int64(2)
memory usage: 31.8 KB

In [11]:
df.isnull().sum()

year      0
month     0
meant     0
maxtp     2
mintp     2
mnmax     0
mnmin     0
rain      3
gmin      2
wdsp      2
maxgt     5
sun      59
dtype: int64

In [ ]:
# take out the columns of interest to us

cleaned_df = df[['month', 'wdsp']]

print(cleaned_df.head(10))

#Drop the rows with missing data

cleaned_df = cleaned_df.dropna(inplace=True)
#Inplace=True will modify the dataframe directly

print(cleaned_df.head(10))

#Check for missing data again
cleaned_df.isnull().sum()

   month  wdsp
0      8   8.3
1     10   NaN
2     11   NaN
3     12   9.4
4      1   8.0
5      2  15.0
6      3  11.3
7      4   7.8
8      5   8.5
9      6   9.9

C:\Users\micha\AppData\Local\Temp\ipykernel_32136\1610414342.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df = tidy_df.dropna(inplace=True)

AttributeError: 'NoneType' object has no attribute 'head'