### Import the weather information for a number of weather stations.

In [1]:
import pandas as pd
import numpy as np
import mysql.connector
import sqlalchemy as sa
from sqlalchemy import create_engine
import pymysql as pymysql
import matplotlib.pyplot as plt
import seaborn as sns
from python.createdb import CreateDB as createdb
from python.createtable import CreateTable as createtable
from python.stations import Stations as stations
from python.import_data import Import_Data as import_data
from python.writedb import WriteDB as write
from python.testdb import TestDB as testdb

In [ ]:

# List of weather stations and the number of rows to skip in the data file
weather_stations = [
     [{"athenry" :1875}, 17],
     [{"cork_airport" : 3904}, 23],
     [{"shannon_airport" : 518}, 23],
     [{"dublin_airport" : 532}, 23],
     [{"mullingar": 875}, 17],
     [{"gurteen" : 1475}, 17]
]

# Create the database to store the downloaded data
'''
db = createdb()

#Create an instance of the CreateTable class to create the tables in the database
tables = createtable()

# Create the tables in the database
for i in weather_stations:
    for name, id in i[0].items():
       skiprows = i[1]
       tables.create_table(name, skiprows)

# Create an instatnce of the import data class to import the data into the data folder
# Folder has being created so commenting out to stop it being rerun again and again
'''
'''
data = import_data()

Import the data from the weather stations
for i in weather_stations:
    for name, id in i[0].items():
        skiprows = i[1]
        data.import_data(name, id, skiprows)
'''

#Create an instance of the write class to write the data to a database 
#As above database has being created so commenting out to stop it being rerun again and again
#(Takes 4 minutes to load data to sql database)

write = write()

# Write the data to the database using the station name as the table name
for i in weather_stations:
    for name, id in i[0].items():
        skiprows = i[1]
        write.write_db(name, id , skiprows)

Engine created
Engine created
Engine created
Engine created
Engine created
Engine created

In [3]:
#Test the database by querying the data

test = testdb()

#Test the database by querying the data
test.test_db('cork_airport')

('01-jan-1962 01:00', 8, None, 0, -1.1, 0, -1.3, -1.6, 5.3, 94.0, 1016.0, 1, 14, 1, 340, 2, 0, None, 30000.0, 999.0, 2.0)
('01-jan-1962 02:00', 8, None, 0, -1.1, 0, -1.3, -1.6, 5.3, 94.0, 1016.5, 1, 10, 1, 340, 3, 1, None, 30000.0, 20.0, 7.0)
('01-jan-1962 03:00', 8, None, 0, -1.0, 0, -1.2, -1.6, 5.3, 94.0, 1016.7, 1, 12, 1, 320, 1, 1, None, 30000.0, 999.0, 3.0)
('01-jan-1962 04:00', 8, None, 0, -1.6, 0, -1.8, -2.2, 5.1, 94.0, 1017.2, 1, 8, 1, 330, 1, 0, None, 30000.0, 999.0, 1.0)
('01-jan-1962 05:00', 8, None, 0, -2.1, 0, -2.3, -3.3, 4.8, 93.0, 1018.0, 1, 11, 1, 320, 1, 0, None, 30000.0, 999.0, 0.0)
('01-jan-1962 06:00', 8, None, 0, -2.1, 0, -2.3, -3.3, 4.9, 93.0, 1018.1, 1, 11, 1, 330, 2, 1, None, 30000.0, 999.0, 0.0)
('01-jan-1962 07:00', 8, None, 0, -2.2, 0, -2.4, -3.3, 4.8, 93.0, 1018.8, 1, 11, 1, 340, 2, 0, None, 30000.0, 999.0, 0.0)
('01-jan-1962 08:00', 8, None, 0, -1.6, 0, -1.9, -2.7, 4.9, 92.0, 1019.0, 1, 14, 1, 340, 2, 0, None, 30000.0, 999.0, 0.0)
('01-jan-1962 09:00', 8, None, 0, -1.1, 0, -1.6, -2.7, 5.0, 89.0, 1019.7, 1, 12, 1, 340, 3, 0, None, 30000.0, 999.0, 1.0)
('01-jan-1962 10:00', 8, None, 0, -1.5, 0, -1.8, -2.7, 5.0, 92.0, 1020.5, 1, 7, 1, 340, 2, 0, None, 40000.0, 999.0, 1.0)
('01-jan-1962 11:00', 8, None, 0, -0.6, 0, -0.9, -1.6, 5.4, 92.0, 1021.0, 1, 11, 1, 330, 2, 0, None, 40000.0, 999.0, 1.0)
('01-jan-1962 12:00', 8, None, 0, 0.6, 0, -0.2, -2.2, 5.3, 83.0, 1020.4, 1, 8, 1, 340, 2, 0, None, 40000.0, 999.0, 1.0)
('01-jan-1962 13:00', 8, None, 0, 1.6, 0, 0.7, -1.1, 5.8, 83.0, 1020.0, 1, 9, 1, 340, 2, 0, None, 40000.0, 999.0, 1.0)
('01-jan-1962 14:00', 8, None, 0, 2.3, 0, 1.5, 0.0, 6.2, 85.0, 1020.2, 1, 10, 1, 350, 2, 0, None, 40000.0, 999.0, 1.0)
('01-jan-1962 15:00', 8, None, 0, 1.8, 0, 0.3, -2.7, 5.1, 73.0, 1020.2, 1, 9, 1, 350, 2, 0, None, 40000.0, 999.0, 1.0)
('01-jan-1962 16:00', 8, None, 0, 1.6, 0, 0.7, -0.5, 5.8, 85.0, 1020.4, 1, 10, 1, 340, 2, 0, None, 40000.0, 999.0, 1.0)
('01-jan-1962 17:00', 8, None, 0, 0.2, 0, -0.1, -1.1, 5.8, 93.0, 1020.9, 1, 10, 1, 340, 2, 0, None, 40000.0, 999.0, 1.0)
('01-jan-1962 18:00', 8, None, 0, -0.5, 0, -0.9, -1.6, 5.4, 92.0, 1021.7, 1, 6, 1, 350, 2, 0, None, 30000.0, 999.0, 1.0)
('01-jan-1962 19:00', 8, None, 0, -1.5, 0, -1.6, -2.2, 5.3, 96.0, 1022.1, 1, 6, 1, 340, 1, 0, None, 24000.0, 999.0, 0.0)
('01-jan-1962 20:00', 8, None, 0, -1.6, 0, -1.7, -2.2, 5.2, 96.0, 1022.8, 1, 6, 1, 330, 2, 0, None, 24000.0, 999.0, 0.0)